.categories {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    thead {
      background-color: #f5f6f7;
      border-bottom: 1px solid #eee;
    }
    tbody {
      background-color: #fff;
    }
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid #f5f6f7;
      }
    }
    th,
    td {
      padding: 12px 20px;
    }
    th {
      text-align: left;
    }
    td {
      button {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
